<h1><%= @vendor.name %></h1>

<p>Contact: <%= @vendor.contact_name %></p>
<p>Phone: <%= @vendor.contact_phone %></p>
<p>Accepts Credit: <%= @vendor.credit_accepted ? 'Yes' : 'No' %></p>
<p>Description: <%= @vendor.description %></p>
